/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* BASE STYLES */
html {
	font-size: 16px;
}

.profile-card {
	width: 335px;
	background: #fefefe;
	box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
	border-radius: 15px;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-header {
	display: flex;
	align-items: center;
}

.profile-user {
	padding: 1rem;
}

.profile-user h2 {
	font-weight: 700;
}

.profile-user p {
	font-size: 0.85rem;
	color: #0079ff;
}

.profile-user span,
.join-date {
	font-size: 0.8rem;
	color: #697c9a;
}

.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.profile-bio {
	width: 17.4375rem;

	margin-top: 1rem;
	font-size: 0.9rem;
	color: #697c9a;
}

.profile-stats {
	width: 17.4375rem;
	height: 5.3125rem;
	margin-top: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	background: #f6f8ff;
	border-radius: 10px;
}

.stat {
	text-align: center;
}

.stat h3 {
	font-size: 0.6875rem;
	color: #4b6a9b;
}

.stat p {
	font-size: 1rem;
	font-weight: 700;
	color: #2b3442;
}

.profile-socials {
	width: 17.4375rem;
	margin: 1rem 0 2.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.social {
	display: flex;
	margin-top: 0.85rem;
}

.social img {
	margin-right: 1rem;
}

.social p {
	font-size: 0.8125rem;
}

.not-available {
	opacity: 0.5;
}
